<div ng-app="createPlayer" id="createPlayer">
	<div ng-controller="CreatePlayerController">
		<form name="playerForm" ng-submit="createPlayer(playerForm.$valid)" novalidate>
			<div class="container col-xs-8">
				<div class="row">
					<div class="form-group col-xs-4" ng-class="{ 'has-error' : (playerForm.name.$invalid && !playerForm.name.$pristine) || (usernameExists) }">
					  <label for="name">Username:</label>
					  <input type="text" name="name" class="form-control" id="name" ng-model="player.username" required>
					  <p ng-show="playerForm.name.$invalid && !playerForm.name.$pristine" class="help-block">Username is required</p>
					  <p ng-show="usernameExists" class="help-block">Entered username already exists.</p>
					</div>
				</div>
				<div class="row">
					<div class="form-group col-xs-4" ng-class="{ 'has-error' : playerForm.password.$invalid && !playerForm.password.$pristine }">
					  <label for="password">Password:</label>
					  <input type="password" class="form-control" name="password" rows="5" id="password" ng-model="player.password" ng-minlength="8" ng-maxlength="20" required>
					  <p ng-show="playerForm.password.$error.minlength" class="help-block">Password should have at least 8 characters.</p>
  					  <p ng-show="playerForm.password.$error.maxlength" class="help-block">Password is too long.</p>
  					  <p ng-show="playerForm.password.$error.required && playerForm.password.$invalid && !playerForm.password.$pristine" class="help-block">Password required.</p>
					</div>
				</div>
				<div class="row">
					<div class="form-group col-xs-4" ng-class="{ 'has-error' : (playerForm.confirmPassword.$invalid && !playerForm.confirmPassword.$pristine) || (player.password != player.confirmPassword) }">
					  <label for="confirmPassword">Confirm password:</label>
					  <input type="password" name="confirmPassword" class="form-control" rows="5" id="confirmPassword" ng-model="player.confirmPassword" required>
					  <p ng-show="playerForm.confirmPassword.$invalid && !playerForm.confirmPassword.$pristine" class="help-block">Password confirmation is required.</p>
					  <p ng-show="player.password != player.confirmPassword && !playerForm.confirmPassword.$pristine" class="help-block">Confirmation password is not equal to password.</p>
					</div>
				</div>

				<button type="submit" class="btn btn-primary" ng-disabled="playerForm.$invalid">Create player</button>
			</div>
		</form>
	</div>
</div>